header {
  color: rgba(0, 0, 0, 0.87);
  background-color: #f5f5f5;
  .headerDiv {
    background-color: #7ac143;
    position: relative;
    height: 60px;
    display: table;
    width: 100%;
    h1.header {
      display: inline-block;
      font-family: 'Playfair Display', serif;
      color: #fff;
      font-size: 20px;
      margin: 0;
      vertical-align: middle;
      font-weight: 400;
      cursor: pointer;
    }
  }
  .subBar {
    min-height: 56px;
    padding: 0 16px;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    .subHeader {
      margin: 0 auto;
      font-size: 14px;
      text-align: center;
      color: #484848;
      font-weight: 600;
      font-family: 'Open Sans' sans-serif;
    }
    .backButton {
      left: -8px;
      height: 100%;
      position: absolute;
      color: rgba(0, 0, 0, 0.87);
      padding: 8px 16px;
      font-size: 0.875rem;
      min-width: 64px;
      box-sizing: border-box;
      min-height: 36px;
      font-weight: 500;
      line-height: 1.4em;
      text-transform: uppercase;
      background-color: #f5f5f5;
      border: 0px;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 0, 0.08);
      }

      .backSpan {
        width: 100%;
        margin-left: 25px;
      }

      svg {
        width: 20px;
        height: 20px;
        margin-left: 5px;
        display: inline-block;
        font-size: 24px;
        position: absolute;
      }
    }
  }
}