.footer {
  background-color: #404040;
    height: 100px;
    overflow: hidden;
    padding: 0 16px;
}

.logoDiv {
  position: absolute;
  padding: 0 16px;
  right: 0;

  .footerP {
    color: #fff;
    margin-bottom: 5px;
    font-size: 13px;
  }
}