<div class="splashPage" fxLayout="column" fxLayoutAlign="space-around center">
  <div class="logoContainer" fxFlex="65">
    <img class="osmTeamLogo" src="assets/images/logo_COSMT.svg" alt="Critigen OSM Team">
  </div>
  <div fxFlex="25">
    <h1>MN Water between 2011 and 2019 - SOTM</h1>
    <button (click)="handleIntroButtonTap()" class="introButton" ><span class="buttonText">Explore MN Water</span></button>
  </div>
  <div class="critLogoContainer" fxFlex="10">
    <a href="http://www.critigen.com" target="_blank" rel="noopener noreferrer">
      <img class="critLogo" src="assets/images/logo_critigen.svg" alt="Critigen">
    </a>
  </div>
</div>
